body {
  font-family: "Tahoma", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
}

h1 {
  color: #FFFFFF;
  font-size: 56px;
  text-align: left;
  vertical-align: bottom;
  /*text-shadow: 2px 2px #333333;*/
  background-color: #746bab;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 10px;
  /*padding: 80px 10px;*/

}

h2 {
  color: #746bab;
  /*color: #1ab28a;*/
  /*text-shadow: 1px 1px #333333;*/
  /*text-align: center;*/
}

#charlie {
  display: block;
  margin: auto;
  width: 200px;
}

.container {
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}

div, #game {
  background-color: #FFFFFF;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  border-radius: 5px;
}

#game {
  padding: 10px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  font-size: 24px
  width: 400px;
}

#game img {
  height: 32px;
  width: 32px;
  display: inline-block;
  text-align: left;
}

.correct {
  color: #1ab28a;
}

.incorrect {
  color: #FF0000;
}

#game p {
  padding-left: 20px;
}

.button {
    color: #FFFFFF ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #746bab;
    border: 2px solid #746bab;
    padding: 14px 40px;
    margin: 5px;
    font-family: "Arial";
}

.button:hover {
  background-color: #fbbe4f;
  cursor: pointer;
  color: #746bab;
}
