* {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: rgb(232, 162, 2);
  font-size: 56px;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 40%;
}

address {
  text-align: center;
}

#game {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  /*display: block;*/
}

#gameQuestion {
  color: #FFFFFF;
  background-color: #323232;
  font-size: 24px;
  font-style: italic;
}

#userAnswer {
  color: #323232;
  background-color: #ffec8b;
  font-size: 24px;

}

#gameResult {
  /*color: #ccccff;*/
  font-size: 18px;
}

div .correct {
  color: green;
}

div .incorrect {
  color: red;
}


#myBtn {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #323232;
    border: 2px solid #87cefa;
    padding: 14px 40px;
    margin: 20px;
}

#myBtn:hover {
  background-color: #87cefa;
  cursor: pointer;
  color: #323232;
}
