body {
  font-family: "Tahoma", sans-serif;
  background-color: #f7f7f7;
}

h1 {
  color: #746bab;
  font-size: 56px;
  text-align: center;
  text-shadow: 2px 2px #333333;
}

h2 {
  color: #1ab28a;
  /*text-shadow: 1px 1px #333333;*/
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 200px;
}

.container {
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}

div, #game {
  background-color: #FFFFFF;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  border-radius: 5px;
}

#game {
  text-align: center;
  font-size: 24px
  width: 400px;
  margin: auto;
  border-radius: 5px;
}

#gameQuestion {
  color: #FFFFFF;
  background-color: #4a62d8;
  font-style: italic;
  padding: 30px;
}

#userAnswer {
  color: #FFFFFF;
  background-color: #1ab28a;
  padding: 20px;
}

#gameResult {
  color: #FFFFFF;
  background-color: #76d0c0;
  padding: 20px;
}

#gameScore {
  color: #fbbe4f;
  background-color: ;
  padding: 20px;
}

.button {
    color: #FFFFFF ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #746bab;
    border: 2px solid #746bab;
    padding: 14px 40px;
    margin: 5px;
    font-family: "Arial";
    /*font-size: 28px;*/
}

.button:hover {
  background-color: #fbbe4f;
  cursor: pointer;
  color: #746bab;
}
